.header {
  width: var(--width-content);
  max-width: 1520px;
  height: 60px;
  background-color: var(--light-color);
  box-shadow: 0 4px 4px var(--heder-shadow);
  border-radius: 60px;
  position: fixed; /* <-- фиксируем */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  margin: 45px 20px 15px 20px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.header-zone {
  width: var(--width-content);
  max-width: 1520px;
  height: 120px;
  background-color: var(--light-color);
  margin-bottom: 15px;
  position: fixed; /* <-- фиксируем */
  top: 0;
  z-index: 1000;
  display: grid;
  justify-items: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.nav a {
  color: var(--dark-color);
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  justify-content: center;
  letter-spacing: var(--letter-spacing);
  width: 205px; /* одинаковая ширина для всех */
  text-align: center;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav a:hover {
  color: var(--accent-color);
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  letter-spacing: var(--letter-spacing);
  font-size: 24px;
}

.central {
  display: flex;
  justify-content: center;
  align-items: center;
}
