<div class="overlay" [class.visible]="sidebarOpen" (click)="closeSidebar()"></div>
<div class="sidebar" [class.open]="sidebarOpen">
    <nav>
      <ul>
        <li><a routerLink="/account/projects" routerLinkActive="active" (click)="closeSidebar()">Проекты</a></li>
        <li><a routerLink="/account/developers" routerLinkActive="active" (click)="closeSidebar()">Разработчики</a></li>
        <li><a routerLink="/account/statistics" routerLinkActive="active" (click)="closeSidebar()">Статистика</a></li>
      </ul>
    </nav>
  </div>
  
