<app-main-header></app-main-header>
<div class="container">
  <div class="container-item">
    <div class="container-item-block">
      <app-log-in></app-log-in>
    </div>
    <div class="container-item-block">
      <h1>Project Helper</h1>
      <h2>
        Я хочу создать сайт который будет анализировать прошлые айти проекты и
        на основе их предсказывать и создавать план работ для предстоящего.
        Объясняю задумку. На этом сайте создается личный кабинет компании.
      </h2>
    </div>
  </div>
  <div class="container-item">
    <div class="container-item-block">
      <div>
        <p class="left-p-text">
          ИИ может взять на себя выполнение повторяющихся задач, таких как
          составление отчетов, отслеживание статуса задач и управление
          расписанием. Это позволяет командам сосредоточиться на более важных
          аспектах проекта.
        </p>
        <p class="left-p-text">
          С помощью алгоритмов машинного обучения можно анализировать
          исторические данные и выявлять закономерности, что помогает
          предсказывать потенциальные риски и проблемы на ранних стадиях
          проекта.
        </p>
        <p class="left-p-text">
          ИИ может помочь в оптимизации процессов управления проектами,
          предлагая рекомендации по распределению ресурсов и срокам выполнения
          задач. Это позволяет значительно повысить эффективность работы
          команды.
        </p>
        <p class="left-p-text">
          Инструменты на основе ИИ могут улучшить коммуникацию внутри команды,
          предоставляя актуальную информацию и позволяя участникам проекта
          быстро обмениваться данными и идеями.
        </p>
      </div>
    </div>
    <div class="container-item-block">
      <img src="\assets\imgs\main-page-schem1.svg" alt="Технологии">
    </div>
  </div>
  <div class="container-item">
  </div>
</div>
