.container {
  display: grid;
  /* grid-template-rows: repeat(4, 1fr);*/
  gap: 200px;
  justify-items: center;
  align-items: center;
  margin-top: 200px;
}

.container-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 100px;
  width: var(--width-content);
  
}

.container-item-block {
  display: grid;
  justify-items: start;
  align-items: center;
  text-align: start;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 760px;
}

