.container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 200px;
  justify-items: center;
  align-items: center;
}

.container-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

